* {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

#headline {
  color: #fbf7fe !important;
}

#list {
  padding: 0;
  margin: 0;
}

.list-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.list-item {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  max-width: calc(50% - 10px);
  display: flex;
  font-size: 1.25rem;
}

.list-item input[type='text'] {
  flex: 1 1 auto;
  border: 2px solid #5e2da6;
  border-radius: 12px;
  outline-color: #C8AAE4;
  padding: 10px;
  margin-left: 10px;
}

button {
  cursor: pointer;
  background-color: #fbf7fe;
  border: 2px solid #C8AAE4;
  outline-color: #C8AAE4;
  padding: 10px 20px;
  border-radius: 60px;
  margin-top: 20px;
}

#go-button {
  float: right;
}

@media only screen and (max-width: 800px) {
  .list-item-wrapper {
    flex-direction: column;
  }

  .list-item {
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .list-item-input {
    max-width: 170px;
  }
}